body {
    /* font-family: 'Roboto', sans-serif; */
    /* background: rgb(32, 32, 32); */
    background: rgb(214, 214, 214);

}

.name {
    background: lightskyblue;
    height: 72px;
    width: 200px;
    font-size: 22pxpx;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    float: left;
    margin-left: 19.6%;
    
}

#nav {
    background: white;
    height: 72px;

}

.wrapper {
    background-color: white;
    width: 960px;
    margin: auto;
}

.about-me {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    float: left;
}

/* Linking to other pages on the same website 
<a href="index.html">Home</a> */